# GlobalProperties:
db.allophonesDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/allophones/
db.basenameFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/basenames.lst
db.domain general
db.estDir /Users/TrangNTT/Dropbox/PhD/Projects/MaryTTS/MaryTTS-Setup/festival/speech_tools/
db.gender male
db.halfphoneFeatureDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/halfphonefeatures/
db.halfphoneLabDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/halfphonelab/
db.hplabExtension .hplab
db.labDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/lab/
db.labExtension .lab
db.locale vi_VN
db.maryServerHost localhost
db.maryServerPort 59125
db.marybase /Users/TrangNTT/Documents/Projects/VBee/source-code
db.marybaseversion 5.1-SNAPSHOT
db.maryxmlDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/rawmaryxml/
db.maryxmlExtension .xml
db.phoneFeatureDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/phonefeatures/
db.phoneLabDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/phonelab/
db.pmDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/pm/
db.pmExtension .pm
db.promptAllophonesDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/prompt_allophones/
db.ptcDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/ptc/
db.ptcExtension .ptc
db.rootDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/
db.samplingrate 48000
db.textDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/text/
db.textExtension .txt
db.vocalizationsDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/vocalizations/
db.voicename sg_male_xuankien_vdts_48k
db.wavDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/wav/
db.dialect SG

# Properties for module PraatPitchmarker:
PraatPitchmarker.command praat
PraatPitchmarker.maxPitch 300
PraatPitchmarker.minPitch 70
PraatPitchmarker.pmDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/pm/
PraatPitchmarker.waveDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/wav/

# Properties for module MCEPMaker:
MCEPMaker.mcepDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mcep/

# Properties for module Festvox2MaryTranscripts:
Festvox2MaryTranscripts.transcriptFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/txt.done.data

# Properties for module AllophonesExtractor:
AllophonesExtractor.styleDefinitionFile 

# Properties for module EHMMLabeler:
EHMMLabeler.eDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/ehmm/
EHMMLabeler.ehmmDir /usr/local/ehmm/
EHMMLabeler.nonDetEndFlag 0
EHMMLabeler.outputLabDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/lab/
EHMMLabeler.promtallophonesDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/prompt_allophones/
EHMMLabeler.reTrainFlag false
EHMMLabeler.startEHMMModelDir /

# Properties for module LabelPauseDeleter:
LabelPauseDeleter.eDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/ehmm/
LabelPauseDeleter.outputLabDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/lab/
LabelPauseDeleter.pauseDurationThreshold 10

# Properties for module HalfPhoneUnitLabelComputer:
HalfPhoneUnitLabelComputer.energyBasedTransientSplitting false

# Properties for module FeatureSelection:
FeatureSelection.featureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/features.txt
FeatureSelection.maryServerHost localhost
FeatureSelection.maryServerPort 59125

# Properties for module PhoneUnitFeatureComputer:
PhoneUnitFeatureComputer.allophonesDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/allophones/
PhoneUnitFeatureComputer.featureDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/phonefeatures/
PhoneUnitFeatureComputer.featureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/features.txt
PhoneUnitFeatureComputer.maryServerHost localhost
PhoneUnitFeatureComputer.maryServerPort 59125

# Properties for module HalfPhoneUnitFeatureComputer:
HalfPhoneUnitFeatureComputer.allophonesDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/allophones/
HalfPhoneUnitFeatureComputer.featureDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/halfphonefeatures/
HalfPhoneUnitFeatureComputer.featureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/features.txt
HalfPhoneUnitFeatureComputer.maryServerHost localhost
HalfPhoneUnitFeatureComputer.maryServerPort 59125

# Properties for module WaveTimelineMaker:
WaveTimelineMaker.waveTimeline /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/timeline_waveforms.mry

# Properties for module BasenameTimelineMaker:
BasenameTimelineMaker.timelineFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/timeline_basenames.mry

# Properties for module MCepTimelineMaker:
MCepTimelineMaker.mcepDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mcep/
MCepTimelineMaker.mcepTimeline /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/timeline_mcep.mry

# Properties for module PhoneUnitfileWriter:
PhoneUnitfileWriter.unitFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/phoneUnits.mry

# Properties for module PhoneFeatureFileWriter:
PhoneFeatureFileWriter.featureDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/phonefeatures/
PhoneFeatureFileWriter.featureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/phoneFeatures.mry
PhoneFeatureFileWriter.unitFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/phoneUnits.mry
PhoneFeatureFileWriter.weightsFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/phoneUnitFeatureDefinition.txt

# Properties for module DurationCARTTrainer:
DurationCARTTrainer.durTree /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/dur.tree
DurationCARTTrainer.featureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/phoneFeatures.mry
DurationCARTTrainer.isHnmTimeline false
DurationCARTTrainer.stepwiseTraining false
DurationCARTTrainer.unitFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/phoneUnits.mry
DurationCARTTrainer.waveTimeline /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/timeline_waveforms.mry

# Properties for module F0CARTTrainer:
F0CARTTrainer.f0LeftTreeFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/f0.left.tree
F0CARTTrainer.f0MidTreeFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/f0.mid.tree
F0CARTTrainer.f0RightTreeFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/f0.right.tree
F0CARTTrainer.featureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/phoneFeatures.mry
F0CARTTrainer.isHnmTimeline false
F0CARTTrainer.stepwiseTraining false
F0CARTTrainer.unitFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/phoneUnits.mry
F0CARTTrainer.waveTimeline /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/timeline_waveforms.mry

# Properties for module HalfPhoneUnitfileWriter:
HalfPhoneUnitfileWriter.unitFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneUnits.mry

# Properties for module HalfPhoneFeatureFileWriter:
HalfPhoneFeatureFileWriter.featureDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/halfphonefeatures/
HalfPhoneFeatureFileWriter.featureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneFeatures.mry
HalfPhoneFeatureFileWriter.unitFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneUnits.mry
HalfPhoneFeatureFileWriter.weightsFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneUnitFeatureDefinition.txt

# Properties for module F0PolynomialFeatureFileWriter:
F0PolynomialFeatureFileWriter.f0FeatureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/syllableF0Polynomials.mry
F0PolynomialFeatureFileWriter.featureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneFeatures.mry
F0PolynomialFeatureFileWriter.interpolate true
F0PolynomialFeatureFileWriter.isHnmTimeline false
F0PolynomialFeatureFileWriter.maxPitch 300
F0PolynomialFeatureFileWriter.minPitch 70
F0PolynomialFeatureFileWriter.polynomOrder 3
F0PolynomialFeatureFileWriter.showGraph false
F0PolynomialFeatureFileWriter.unitFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneUnits.mry
F0PolynomialFeatureFileWriter.waveTimeLine /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/timeline_waveforms.mry

# Properties for module AcousticFeatureFileWriter:
AcousticFeatureFileWriter.acFeatDef /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneUnitFeatureDefinition_ac.txt
AcousticFeatureFileWriter.acFeatureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneFeatures_ac.mry
AcousticFeatureFileWriter.contourFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/syllableF0Polynomials.mry
AcousticFeatureFileWriter.featureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneFeatures.mry
AcousticFeatureFileWriter.unitFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneUnits.mry

# Properties for module JoinCostFileMaker:
JoinCostFileMaker.acfeatureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneFeatures_ac.mry
JoinCostFileMaker.joinCostFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/joinCostFeatures.mry
JoinCostFileMaker.mcepDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mcep/
JoinCostFileMaker.mcepTimeline /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/timeline_mcep.mry
JoinCostFileMaker.unitFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneUnits.mry
JoinCostFileMaker.weightsFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/joinCostWeights.txt

# Properties for module CARTBuilder:
CARTBuilder.acFeatureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneFeatures_ac.mry
CARTBuilder.callWagon false
CARTBuilder.cartFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/cart.mry
CARTBuilder.featureSeqFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/featureSequence.txt
CARTBuilder.maxLeafSize 10000000
CARTBuilder.mcepTimeline /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/timeline_mcep.mry
CARTBuilder.numProcesses 1
CARTBuilder.readFeatureSequence true
CARTBuilder.topLevelTreeFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/topLevel.tree
CARTBuilder.unitFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/halfphoneUnits.mry

# Properties for module HMMVoiceDataPreparation:
HMMVoiceDataPreparation.adaptScripts false
HMMVoiceDataPreparation.userRawDirectory 
HMMVoiceDataPreparation.userUttDirectory 

# Properties for module HMMVoiceConfigure:
HMMVoiceConfigure.adaptF0Ranges 'bdl 40 210 clb 130 260 jmk 50 180 rms 40 200 slt 110 280'
HMMVoiceConfigure.adaptHead b05
HMMVoiceConfigure.adaptScripts false
HMMVoiceConfigure.adaptSpkr slt
HMMVoiceConfigure.adaptSpkrMask */cmu_us_arctic_%%%_*
HMMVoiceConfigure.adaptTrainSpkr 'bdl clb jmk rms'
HMMVoiceConfigure.adaptTransKind feat
HMMVoiceConfigure.adaptTreeKind dec
HMMVoiceConfigure.configureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/hts/configure
HMMVoiceConfigure.dataSet vdts
HMMVoiceConfigure.fftLen 2048
HMMVoiceConfigure.frameLen 1200
HMMVoiceConfigure.frameShift 240
HMMVoiceConfigure.freqWarp 0.55
HMMVoiceConfigure.gamma 0
HMMVoiceConfigure.lf0BandWidth 1
HMMVoiceConfigure.lnGain 1
HMMVoiceConfigure.lowerF0 70
HMMVoiceConfigure.mgcBandWidth 35
HMMVoiceConfigure.mgcOrder 34
HMMVoiceConfigure.normalize 1
HMMVoiceConfigure.numIterations 5
HMMVoiceConfigure.numState 5
HMMVoiceConfigure.numTestFiles 5
HMMVoiceConfigure.questionsNum 001
HMMVoiceConfigure.sampfreq 48000
HMMVoiceConfigure.speaker Xuan-Kien
HMMVoiceConfigure.strBandWidth 5
HMMVoiceConfigure.strFilterFileName filters/mix_excitation_5filters_199taps_48Kz.txt
HMMVoiceConfigure.strOrder 5
HMMVoiceConfigure.upperF0 300
HMMVoiceConfigure.version 1
HMMVoiceConfigure.windowType 1

# Properties for module HMMVoiceFeatureSelection:
HMMVoiceFeatureSelection.featureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/features.txt
HMMVoiceFeatureSelection.hmmFeatureFile /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/hmmFeatures.txt

# Properties for module HMMVoiceMakeData:
HMMVoiceMakeData.adaptScripts false
HMMVoiceMakeData.featureListFile mary/hmmFeatures.txt
HMMVoiceMakeData.featureListMapFile mary/hmmFeaturesMap.txt
HMMVoiceMakeData.makeCMPMARY 1
HMMVoiceMakeData.makeLABELMARY 1
HMMVoiceMakeData.makeLF0 1
HMMVoiceMakeData.makeLIST 1
HMMVoiceMakeData.makeMGC 1
HMMVoiceMakeData.makeQUESTIONSMARY 1
HMMVoiceMakeData.makeSCP 1
HMMVoiceMakeData.makeSTR 1
HMMVoiceMakeData.questionsFile hts/data/questions/questions_qst001.hed
HMMVoiceMakeData.questionsUttFile hts/data/questions/questions_utt_qst001.hed
HMMVoiceMakeData.trickyPhonesFile mary/trickyPhones.txt

# Properties for module VoiceCompiler:
VoiceCompiler.compileDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/voice-ttvn-vdts/

# Properties for module HMMVoiceCompiler:
HMMVoiceCompiler.compileDir /Users/TrangNTT/Documents/Projects/VBee/Corpus/XuanKien-SG/sg_male_xuankien_vdts_48k/mary/voice-ttvn-vdts-hsmm/

